torch~=1.6.0
numpy~=1.20.3
pandas~=0.25.1
transformers~=4.3.3
tokenizers~=0.10.1
PyYAML==5.4.1
PyPrind~=2.11.2
datasets~=1.4.1
https://github.com/UIUCLearningLanguageLab/AOCHILDES/archive/v2.1.0.tar.gz
https://github.com/UIUCLearningLanguageLab/AONewsela/archive/v1.1.0.tar.gz
https://github.com/phueb/Ludwig/archive/v4.0.2.tar.gz